<div class="col-md-8 dropblog-body">
  <h3>Posts</h3>

  <div ng-hide="isAccessTokenValid">
    <h4>Looks like you haven't properly set up your access token yet.</h4>
    <p>You should take a look at the instructions in the readme.</p>
  </div>

  <ul class="list-group dropblog-posts-list">
    <li class="list-group-item" ng-repeat="post in posts.slice(startPost, Math.min(numPosts-1,maxPagePosts)) | orderBy: -uploadDate | limitTo: maxPagePosts">


      <blog-post></blog-post>
    </li>
  </ul>

  <ul class="pagination">
    <li ng-repeat="pageNum in pageNumbers"><a href="" ng-click="$parent.startPost = ($parent.maxPagePosts * pageNum)">{{pageNum}}</a></li>
  </ul>
</div>

<div class="col-md-3">
</div>